
body{
    background-color: bisque;
}



body {
  margin: 0;
  padding: 0;
}
.titleLogin{
  position: relative;
  left: 1.5%;
}
/*product.handlebars*/
#productId{
    color: blue;
    font-weight: bold;
}
#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:120px
}
img{
    width: 20%;
}
.form-control{
  width: 120%;
}
/*login.handlebars*/
.githubButton{
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
  left: 2%;
}

/*********************/