<div>
  <form id="recoveryform">

  <h2 class="titleLogin">Ingrese aqui su email para recuperar su clave de ingreso</h2>
  <div class="form-outline mb-4">
    <input type="email" name="email" id="email" class="form-control" />
    <label class="form-label" for="form2Example1">Email</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" style="position: relative; left: 2%;">Recuperar</button>
 
</form>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
<script src="/js/formemailrecovery.js"></script>