<div>
  <form id="recoverpassword">

  <h2 class="titleLogin">Ingrese su nueva clave</h2>



  <div class="form-outline mb-4">
    <input type="password" name="password" id="password" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" style="position: relative; left: 2%;">Recover password</button>
 
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
<script src="/js/recoverypassword.js"></script>